<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudiantes</title>
</head>
<body>
    <div th:replace="~{fragmentos :: buscador}"></div>

    <table>
<!--        Encabezado de la tabla-->
        <th>
            <tr>
                <td>Nombre</td>
                <td>Edad</td>
                <td>Curso</td>
            </tr>
        </th>
<!--        Cuerpo de la tabla-->
        <tbody>
            <tr th:each="estudiante : ${listaEstudiantes}">
                <td th:text="${estudiante.nombre}"></td>
                <td th:text="${estudiante.edad}"></td>
                <td th:text="${estudiante.curso}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>